<!DOCTYPE html>
<html lang="">
<head>
    <title>ШУЕ таймер</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <h1><%= title %></h1>
    </div>
    <div class="content">
        <p><span id="white">До нового</span><span id="blue"> ШУЕ года</span><span id="red"> осталось</span></p>
        <p id="timer">ноль <strong>дней</strong> ноль<strong>:</strong>ноль<strong>:</strong>ноль</p>
    </div>
</div>
<script src="/javascripts/timer.js"></script>
</body>
</html>
